
body{
background-color: black;
}
.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	margin: 70px auto;
	border: 20px solid black;
	width: 400px;
	height: 400px;
	padding: 30px;
}
d
.cube {
	border: 3px solid black;
	background-color: grey;
}
